<!-- <div class="container">
  <h2>Lista de Lotes</h2>


  <table class="table" *ngIf="lotes.length > 0">
    <thead>
      <tr>
        <th>name</th>
        <th>Total árboles</th>
        <th>Fecha sembrado</th>
        <th>Última abonada</th>
        <th>Última fumigada</th>
        <th>Última deyerba</th>
        <th>Cantidad resiembra</th>
        <th>Fecha resiembra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lote of lotes">
        <td>{{ lote.name }}</td>
        <td>{{ lote.totalTrees }}</td>
        <td *ngFor="let planting of [lote.plantingDate] ">{{ planting[0] | formatDate }}</td>
        <td *ngFor="let fertilizer of [lote.fertilizerDate] ">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            (click)="setSelectedLote(lote)">
            {{ fertilizer[0] | formatDate }}
          </button>
        </td>
        <td *ngFor="let fumigated of [lote.fumigatedDate]">{{ fumigated[0] | formatDate  }}</td>
        <td *ngFor="let cleaned of [lote.cleanedDate]">{{ cleaned[0] | formatDate }}</td>
        <td>{{ lote.numberReseeding }}</td>
        <td *ngFor="let reseeding of [lote.reseedingDate]">{{ reseeding[0] | formatDate  }}</td>
        <td>
           <button [routerLink]="['/cars', car.id, 'edit']" class="btn btn-sm btn-info me-2">
            Editar
          </button>
           <button (click)="deleteCar(car.id)" class="btn btn-sm btn-danger">
            Eliminar
          </button>
        </td>

      </tr>
    </tbody>
  </table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Historial de Abonado: {{ selectedLote?.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="selectedLote">
          <div class="card mb-3">
            <div class="card-header">
              Información del Lote
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between">
                <span>Nombre:</span>
                <strong>{{ selectedLote.name }}</strong>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total de árboles:</span>
                <strong>{{ selectedLote.totalTrees }}</strong>
              </li>
            </ul>
          </div>

          <div class="card">
            <div class="card-header">
              Historial de Abonadas
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-3 text-muted">Última abonada: {{ selectedLote.fertilizerDate[0] | formatDate }}</h6>

              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let date of selectedLote.fertilizerDate; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ date | formatDate }}</td>
                  </tr>
                  <tr *ngIf="selectedLote.fertilizerDate.length === 0">
                    <td colspan="2" class="text-center text-muted">No hay registros de abonadas</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="lotes.length === 0" class="alert alert-warning">
    No hay  lotes
  </div>
</div> -->


<div class="container row">
  <div class="col-6">

    <button [routerLink]="['/crear-lote']" class="btn btn-success mb-3 mt-3">Crear lote</button>
  </div>
  <div class="card col-6"><h5>Total árboles: {{totalArboles}}</h5></div>
</div>
<div class="contenedor">

  <div class="card" *ngFor="let lote of lotes">
      <!-- <img src="https://via.placeholder.com/300" alt="Imagen de la tarjeta"> -->
      <div class="card-content">
        <div class="card-title"><strong>Nombre: </strong>{{ lote.name}}</div>
        <ul class="lista-alineada-izquierda">

          <li><strong>Árboles sembrados:</strong> {{lote.totalTrees}}</li>
          <li *ngFor="let fertilizer of [lote.fertilizerDate]"><strong>Última abonada:</strong> {{ fertilizer[0] | formatDate }}</li>
          <li *ngFor="let fumigated of [lote.fumigatedDate]"><strong>Última fumigada:</strong> {{ fumigated[0] | formatDate }}</li>
          <li *ngFor="let planting of [lote.plantingDate]"><strong>Fecha sembrado:</strong> {{ planting[0] | formatDate }}</li>
        </ul>

          <div class="card-description">
          </div>
          <button [routerLink]="['/crear-lote']" class="btn btn-success">Crear</button>
          <button [routerLink]="['/actualizar-lote', lote.id]" class="btn btn-warning m-2">Actualizar</button>
          <button (click)="setSelectedLote(lote)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver más</button>
      </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Historial de Abonado: {{ selectedLote?.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedLote">
        <div class=" mb-3">

        </div>

        <div class="">
          <div class="card-header">
            Historial de Abonadas
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-3 text-muted">Última abonada: {{ selectedLote.fertilizerDate[0] | formatDate }}</h6>

            <table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let date of selectedLote.fertilizerDate; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ date | formatDate }}</td>
                </tr>
                <tr *ngIf="selectedLote.fertilizerDate.length === 0">
                  <td colspan="2" class="text-center text-muted">No hay registros de abonadas</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="">
          <div class="card-header">
            Historial de fumigadas
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-3 text-muted">Última fumigada: {{ selectedLote.fumigatedDate[0] | formatDate }}</h6>

            <table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let date of selectedLote.fumigatedDate; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ date | formatDate }}</td>
                </tr>
                <tr *ngIf="selectedLote.fertilizerDate.length === 0">
                  <td colspan="2" class="text-center text-muted">No hay registros de abonadas</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


